<%# if logged_in? %>
    <%# redirect to home %>
<%# else %>
    <% provide(:title, "Login!") %>
<div class="content">  
    <h1>
        This is the login page.
    </h1>
</div>
<div class="content">
    <% provide(:last_button, "Login to my account") # provides must be given BEFORE the the yield calls it (up to down chronologically in code)%> 
    <%= render 'sessions/loginform' %>
</div>





  

<%# end %>