<div class="comment">
    <strong><%= User.find_by(id:comment.user_id).name %></strong> <em>said:</em>
    <br/>
    <br/>
    "<%= comment.content%>"
    <br/>
    <br/>
    <em>at: <%= comment.created_at%></em>
</div>