<% provide(:title, 'All recipes') %>
<h1>All recipes</h1>

<ul>
    <% @rating_ordered_recipes.each do |recipe|%>
        <%= render partial: 'recipes/recipe_thumbnail', locals: {recipe: recipe} %> 
    <% end %>
</ul>