<% provide(:title, 'All recipes') %>
<h1>All recipes</h1>

<ul>
    <% Recipe.all.each do |recipe|%>
        <%= render partial: 'recipes/recipe_thumbnail', locals: {recipe: recipe} %> 
    <% end %>
</ul>