<h1>
    <em>A recipe by for...</em>
    <br/>
    <%= "#{@recipe.title}" %>
    <br/>
    By: <%= @user.name %>

</h1>

<h2>
    <em>Ingredients:</em>
    <br/>
    <% ingredients_array = @recipe.ingredients.to_s.split(";") #( split by a new line) %>
    <% for each in ingredients_array do %>
        <%= each %>
        <br/>
    <% end %>
</h2>

<h3> 
    <em>Instructions:</em>
    <br/>
    <% instructions_array = @recipe.instructions.to_s.split(";") #( split by a new line) %>
    <ol>
        
            <% for each in instructions_array do %>
                <li>
                    <%= each %>
                </li>
                <br/>
            <% end %>
        
    </ol>
</h3>

