<div class="content">
  <h2>Invalid parameters for sign up. <a href="/signup">Try again here</a></h2>
</div>
<div class="content">
  <h3>For valid account sign up:</h3>
  <ul>
    <li>You can't create a user with an invalid email address</li>
    <li>You can't create more than one user with the same email address</li>
    <li>Your password must be at least 6 characters and must contain at least one capital letter and one number</li>
  </ul>
</div>