<%# if logged_in? %>
    <%# redirect to home %>
<%# else %>
    <% provide(:title, "Signup!") %>
<div class="content">  
    <h1>
        Create an account below.
    </h1>
</div>
<div class="content">
    
    <% provide(:last_button, "Create my account") # provides must be given BEFORE the the yield calls it (up to down chronologically in code)%> 
    <%= render 'users/signupform' %>
</div> 




  

<%# end %>