<header>
        <img src= "https://www.verywellhealth.com/thmb/6ii-Twvctk3x31G3E-i05ZUMfv8=/800x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/30D7A016-ABA5-48DD-BE39-3E7A223A03BF-96f2ba9e6c724dc9b2ba638b0c0f44a2.jpeg" width= "100px" >
        
        
        
        <a href="/home">
             HOME
        </a>
        green text
     
        
<%
=begin%>
 
        <% if logged_in? %>
        account

        <% else %>
            login
        <% end %> 
<%
=end%>
   

</header>
